body {
  background-color: var(--bcg-color);
  color: var(--main-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  p {
    margin-top: 10px;
  }
}
